@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main: #7300CE;

    --alternative-text: #616161;
    
    --fonte: 'Roboto', sans-serif;

    --body-bg: #f5f6fb;
    --body-secondary: #e5e5e5;
    --body-color: #000;
}
.dark-mode:root {
    --main: #7300CE;

    --alternative-text: #616161;
    
    --fonte: 'Roboto', sans-serif;

    --body-bg: #222;
    --body-secondary: #1A1A1A;
    --body-color: #fafafa;
}
.fundo{
    background-color: var(--body-bg);
}
.nome-title {
    color: var(--body-color);
    font-family: var(--fonte);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;color
    line-height: normal;
}

/* ---- Introdução ---- */
.intro-foto:hover {
    transform: scale(1.1);
    transition: 0.7s;
}
.intro-h3 {
    color: var(--body-color);
    font-family: var(--fonte);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.intro-span {
    color: var(--main);
    font-family: var(--fonte);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.intro-p {
    color: var(--body-color);
    font-family: var(--fonte);
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
/* ---- Fim introdução ---- */

/* ---- Formações ---- */
.formacoes-title {
    color: var(--body-color);
    font-family: var(--fonte);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
    text-align: center;
}
.formacoes-title:hover {
    color: var(--main);

    transform: scale(1.1);
    transition: 0.7s;
}
.formacoes-txt-area {
    width: 85%;

    background-color: var(--body-secondary);

    border-radius: 20px;
    border: 2px solid var(--main);
}
.formacoes-txt-area:hover {
    transform: scale(1.02);
    transition: 0.7s;
}
.formacoes-h3 {
    color: var(--body-color);
    font-family: var(--fonte);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.formacoes-p {
    color: var(--body-color);
    font-family: var(--fonte);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* ---- Fim formações ---- */

/* ---- Experiências ---- */
.exp-title {
    color: var(--body-color);
    font-family: var(--fonte);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
    text-align: center;
}
.exp-title:hover{
    color: var(--main);
    
    transform: scale(1.1);
    transition: 0.7s;
}
.exp-txt-area {
    width: 85%;

    background-color: var(--body-secondary);

    border-radius: 20px;
}
.exp-txt-area:hover {
    transform: scale(1.02);
    transition: 0.7s;
}
.exp-h3 {
    color: var(--body-color);
    font-family: var(--fonte);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.exp-p {
    color:  var(--body-color);
    font-family: var(--fonte);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* ---- Fim experiências ---- */

/* ---- Cursos ---- */
.cursos-title {
    color:  var(--body-color);
    font-family: var(--fonte);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
    text-align: center;
}
.cursos-title:hover{
    color: var(--main);

    transform: scale(1.1);
    transition: 0.7s;
}
.cursos-card{
    width: 23%;

    background-color: var(--body-secondary);

    border: 2px solid var(--main);
    border-radius: 10px;
}
.cursos-card:hover {
    transform: scale(1.02);
    transition: 0.7s;
}
.cursos-h3 {
    color:  var(--body-color);
    font-family: var(--fonte);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.cursos-p {
    color:  var(--body-color);
    font-family: var(--fonte);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}
.cursos-p-a {
    color:  var(--body-color);
}
.cursos-p-a:hover {
    color: var(--main);
}
.cursos-btn-vermais {
    background-color: var(--main);
    padding: 13px 23px;

    color:  var(--body-bg);
    font-family: var(--fonte);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;

    border-radius: 7px; 
}
.cursos-btn-vermais:hover {
    color: var(--main);
    background-color: transparent;

    border: 2px solid var( --main);
  
    transition: 0.5s;
}
.btn-transform:hover {
    transform: scale(1.1);
    transition: 0.7s;
}
/* ---- Fim cursos ---- */

/* ---- Informações extras ---- */
.infoextra-title {
    color:  var(--body-color);
    font-family: var(--fonte);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
    text-align: center;
}
.infoextra-title:hover{
    color: var(--main);

    transform: scale(1.1);
    transition: 0.7s;
}
.infoextra-txt-area {
    width: 85%;

    background-color: var(--body-secondary);

    border-radius: 20px;
}
.infoextra-txt-area:hover {
    transform: scale(1.02);
    transition: 0.7s;
}
.infoextra-h3 {
    color:  var(--body-color);
    font-family: var(--fonte);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.infoextra-p {
    color:  var(--body-color);
    font-family: var(--fonte);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
ul {
    list-style-type: disc;      
}
/* ---- Fim informações extras ---- */

/* ---- Footer ---- */
.h5-footer {
    color:  var(--body-color);
    font-family: var(--fonte);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.p-footer {
    color: var(--alternative-text);
    font-family: var(--fonte);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.p-dev {
    color: var(--alternative-text);
    font-family: var(--fonte);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.p-dev-span{
    color: var(--main);
    font-family: var(--fonte);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} 
svg {
    fill: var(--body-color);
} 

svg:hover {
    fill: var(--main);

    transform: scale(1.1);
    transition: 0.7s;
}
/* ---- Fim footer ---- */

/* ---- Estilização Switch Dark Mode ---- */
.label-dm {
    color: var(--body-color);
    font-family: var(--fonte);
    font-weight: 500;
    font-style: normal;
}
.label-dm:hover{
    transform: scale(1.1);
    transition: 0.7s;
}
.input-dm:focus {
    background-color: var(--main);
    box-shadow: 0 0 0 0.2rem rgba(115, 0, 206, 0.25) !important;
    border-color: var(--main);
}
.input-dm:checked {
    background-color: var(--main);
    border-color: var(--main);
}
.input-dm:active {
    background-color: var(--main);
}
.input-dm:not(:checked) {
    border-color: var(--main);
}
.input-dm:not(:disabled):active{
    background-color: var(--main)
}
